<!DOCTYPE html>
<body>
    <head>
        <!--falta poner flags de metadatos (meta)-->
        <meta charset = 'utf-8'>

        <meta name = 'description' content = "Abraham's Portfolio">
        <meta name = 'author' content = 'Abraham-Kalume'>
        <meta name = 'keywords' content = 'Abraham Mora Cejas, HTML, Python, Canary Islands, Developer'>
        <meta hhtp-equiv = 'refresh' content = '1800'>
        <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>
        
        <script src = 'https://cdn.tailwindcss.com'></script>

        <title>







    </head>

</body>